<?xml version="1.0" encoding="utf-8" ?>

<configuration>
	<appSettings>
		<add key="AccessToken" value="" />
		<add key="InseeBaseUrl" value="https://api.insee.fr/donnees-locales/V0.1/donnees/geo-" />
		<add key="DataFolder" value="InseeData" />
		<add key="LogFolder" value="InseeDataLog" />
		<add key="JeuDonnees" value="GEO2019RP2016" />
		<add key="Croisement" value="ILTR2-CS1_6-SEXE" />
		<add key="Modalite" value="all.all.all"/>
		<add key="Nivgeo" value="COM" />
		<add key="limitNbDataItems" value="50" />
	</appSettings>
</configuration>
